Dockerfile
.dockerignore
node_modules
npm-debug.log
.next
.git
.gitignore
README.md
.env
.env.local
.env.production.local
.env.local
.env.development.local
.env.test.local
.nyc_output
coverage
.cache 